<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Icebreaker" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="matchSummaryJSONStartPattern" value="&quot;data&quot; : ["/>
    <add key="matchSummaryJSONEndPattern" value="}], &quot;paging&quot;"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1"/>
    <add key="SendMessages" value="true"/>
    <add key="CleanupFiles" value="true"/>
  </appSettings>
  <userSettings>
    <Icebreaker>
      <setting name="DefaultMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimumMatchPercentage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaximumMatchPercentage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumMessagesToSend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KidsAllowed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileNameRunningUnder" serializeAs="String">
        <value />
      </setting>
    </Icebreaker>
  </userSettings>
</configuration>